.grid  {
    display: grid;
}
.logo img{
    width: auto;
    place-self: center;
    max-width: 181px;
    max-height: 181px;
}
.header {
    display: grid;
    grid-template-columns: auto auto; 
    margin-left: auto;
    margin-right: auto; 
    grid-gap: 75px;
    padding-top: 25px;
}
.header nav {
    align-self: center;
}
.nav {
    margin: -52px 0 0 auto;
   
}
.nav-ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
}
.nav-li {
    list-style-type: none;
    place-self: center;
    font-size: 1rem;
    font-family: 'Open Sans',sans-serif;
    font-weight: lighter;
}
a {
    text-decoration: none;
    color: #4e4c4c;
}

.arrow::after {
    content: "\25BE";
    margin-left: 0.1rem;
}
.arrow:hover > .pop-up-nav{
    visibility: visible;
}
.nav-li a:hover, .arrow:hover:after {
    color: rgb(189, 50, 50);
}
.pop-up-nav {
    visibility: hidden;
    position: absolute;
    background-color: white;
   
}
.pop-up-nav li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: .1px solid grey;
}
.pop-up-nav ul {
    padding: 0;
    position: relative;
    right: 20px;
    border: 1px solid black;
}
.pop-up-nav a {
    padding: 10px 20px;
}