.grid  {
    display: grid;
}
.logo img{
    width: auto;
    place-self: center;
    max-width: 181px;
    max-height: 181px;
}
.header {
    display: grid;
    grid-template-columns: auto auto; 
    margin-left: auto;
    margin-right: auto; 
}
.nav-ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}
.nav-li {
    list-style-type: none;
    place-self: center;
}